
.yellow {
  background-color: $default-yellow;
}

.red {
  background-color: $red-count;
  color: antiquewhite;
}

.red-20 {
  background-color: $red-count-m;
  color: antiquewhite;
}

.green {
  background-color: $green-count;
  color: antiquewhite;
}

.green-20 {
  background-color: $green-count-p;
  color: antiquewhite;
}
